<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }} - {{ article.title }}{%endblock%}</title>
    <meta name="description" content="Hat&#039;s Musical Adventures in Video Game Music" />
    <meta name="author" content="hat" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/image/favicon.png" />
    <link rel="canonical" href="index.html" />

<link href="/theme/css/pure-0.5.0/grids-min.css" type="text/css" rel="stylesheet" />
<link href="/theme/css/nucleus.css" type="text/css" rel="stylesheet" />
<link href="/theme/css/template.css" type="text/css" rel="stylesheet" />
<link href="/theme/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="/theme/css/notices.css" type="text/css" rel="stylesheet" />
<link href="/theme/css/form-styles.css" type="text/css" rel="stylesheet" />
<link href="/theme/css/login.css" type="text/css" rel="stylesheet" />
<link href="/theme/css/slidebars.min.css" type="text/css" rel="stylesheet" />
<script src="/theme/js/jquery-2.x.min.js" ></script>
<script src="/theme/js/modernizr.custom.71422.js" ></script>
<script src="/theme/js/antimatter.js" ></script>
<script src="/theme/js/slidebars.min.js" ></script>
</head>
<body id="top" class="">
    <div id="sb-site">
                <header id="header">
            <div id="logo">
                <h3><a href="/index.html">{{ SITENAME }}</a></h3>
            </div>
            <div id="navbar">

<ul class="navigation">
                                    <li class="">
                <a href="/pages/disco.html">
                                        Selected Discography
                </a>
            </li>
                                <li class="active">
                <a href="/index.html">
                                        {{ SITENAME }}
                </a>
            </li>
                    </ul>

                                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>


                <section id="body" class="">

                               <div class="flush-top blog-header blog-header-image" style="background-image: url(/image/orchestra-master1050.jpeg);">

                </div>

                <div class="content-wrapper blog-content-list grid pure-g">
                        <div id="listing" class="block pure-u-2-3 h-feed">
{% block content %}
  <div class="list-item h-entry">

    <div class="list-blog-header">
        <span class="list-blog-date">
            <time class="dt-published" datetime="{{ article.date|strftime('%Y-%m-%d') }}">
                <em>{{ article.date|strftime('%b %d') }},</em>
                <em>{{ article.date|strftime('%Y') }}</em>
            </time>
        </span>
                    <h4 class="p-name"><a href="{{ SITEURL }}/{{ article.url }}" class="u-url">{{ article.title }}</a></h4>

{% if article.tags %}
                <span class="tags">
{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}" class="p-category">{{ tag | escape }}</a> {% endfor %}
                    </span>
{% endif %}
                                                                    <img alt="Cover Art" src="/image/{{ article.slug }}.jpeg" />

    </div>

    <div class="list-blog-padding">

            <div class="e-content">
{{ article.content }}
        </div>
    </div>
</div>

                        </div>
{% endblock content %}


                        <div id="sidebar" class="block size-1-3 pure-u-1-3">

<div class="sidebar-content">
    <h4>Popular Tags</h4>

<span class="tags">
    {% for tag, articles in tags|sort %}
                    <a class="" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
    </span>
</div>
                        </div>
                </div>
                </section>

                <footer id="footer">
            <div class="totop">
                <span><a href="{{ SITEURL }}" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
        </footer>
            </div>
            <div class="sb-slidebar sb-left sb-width-thin">
            <div id="panel">
<ul class="navigation">
                                    <li class="">
                <a href="/pages/disco.html">
                                        Selected Discography
                </a>
            </li>
                                <li class="active">
                <a href="/index.html">
                                        {{ SITENAME }}
                </a>
            </li>
                    </ul>

            </div>
        </div>

        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>
    </body>
</html>

